ignore-workspace-cycles=true
public-hoist-pattern[]=@toolcog/core
public-hoist-pattern[]=@toolcog/compiler
public-hoist-pattern[]=@toolcog/runtime
public-hoist-pattern[]=@toolcog/openai
public-hoist-pattern[]=toolcog
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
